# OpenCode aliases
export OPENCODE_MODEL=deepseek-v4-flash
export OPENCODE_ENDPOINT=https://opencode.ai
export OPENCODE_API_URI=zen/go
export OPENCODE_BASE_URL=${OPENCODE_ENDPOINT}/${OPENCODE_API_URI}/v1
export OPENCODE_API_KEY=sk-Insert-Key-Here
export OPENCODE_MAX_TOKENS=1000000

# OpenRouter aliases
export OPENROUTER_MODEL=${OPENCODE_MODEL}
export OPENROUTER_ENDPOINT=${OPENCODE_ENDPOINT}
export OPENROUTER_API_URI=${OPENCODE_API_URI:-api}
export OPENROUTER_BASE_URL=${OPENCODE_BASE_URL}
export OPENROUTER_API_KEY=${OPENCODE_API_KEY}

# Anthropic aliases
export ANTHROPIC_API_URI=${OPENCODE_API_URI:-api}
export ANTHROPIC_BASE_URL=${OPENROUTER_ENDPOINT}/${ANTHROPIC_API_URI}
export ANTHROPIC_AUTH_TOKEN=${OPENROUTER_API_KEY}
export ANTHROPIC_API_KEY=""

# OpenAI SDK aliases
export OPENAI_MODEL=${OPENROUTER_MODEL}
export OPENAI_BASE_URL=${OPENROUTER_BASE_URL}
export OPENAI_ENDPOINT_URL=${OPENROUTER_BASE_URL}
export OPENAI_API_KEY=${OPENROUTER_API_KEY}
export OPENAI_MAX_TOKENS=${OPENCODE_MAX_TOKENS}

# OpenAgent aliases
export AGENT_CODE_MODEL=${OPENROUTER_MODEL}
export AGENT_CODE_API_KEY=${OPENROUTER_API_KEY}
export AGENT_CODE_API_BASE_URL=${OPENROUTER_BASE_URL}
